.filter{
  width: 591px;
  height: 954px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #0F1228;
  color: #fff;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px auto;
  .categories{
    width: 501px;
    height: 649px;
    background-color: #20234B;
    border-radius: 10px;
    padding: 20px 30px 20px 20px;
    .title{
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .category-item{
      width: 100%;
      height: 32px;
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      .category-text{
        width: 410px;
        font-size: 14px;
        font-weight: 500;
      }
      .subcategory{
        margin-left: 40px;
      }
      button{
        width: 25px;
        height: 25px;
        background-color: #7A81E9;
        border: none;
        border-radius: 50px;
        outline: none;
        font: inherit;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        font-weight: 200;
      }
    }
  }
  .status{
    width: 511px;
    height: 61px;
    display: flex;
    background-color: #20234B;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 20px;
    .label{
      margin-right: 30px;
    }
    .status-text{
      margin-right: 50px;
      font-weight: 500;
    }
  }
  .buttons{
    display: flex;
    justify-content: space-between;
    width: 551px;
    .button{
      width: 267px;
      height: 50px;
      border: 1px solid #FF4B58;
      border-radius: 30px;
      text-transform: uppercase;
      background-color: transparent;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
    }
    .button-accept{
      background-color: #FF4B58;
    }
  }
}
.title{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
}
.visually-hidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.label{
  width: 17px;
  height: 17px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
.visually-hidden:checked + .label:after{
  content: '\2713';
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  color: #0F1228;
  top: 1px;
  left: 3px;
}
